# Build directories
build/
build_*/
out/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
compile_commands.json
_deps/
_codeql_build_dir/
_codeql_detected_source_root

# IDE
.vs/
.vscode/
*.user

# Compiled objects
*.o
*.obj
*.a
*.lib
*.exe
*.dll
*.so
*.dylib
